<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog Posts</title>
    <style>
        body {
            background: black;
            color: white;
            display: flex;
            justify-content: center;
        }

        main {
            max-width: 1280px;
        }

        .page-title {
            text-align: center;
        }

        .blog-post {
            margin: 10px;
            border: 1px white solid;
            padding: 10px;
        }

        .blog-post-content {
            white-space: pre-line;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>