{% extends "core/base.html" %}

{% block content %}
    <main>
        <h1 class="page-title">{{ post.title }}</h1>
        <div class="blog-post">
            <p class="blog-post-content">{{ post.preview }}</p>
            <span class="blog-post-author">written by {{ post.author.username }}</span>
            <span class="blog-post-date">
                at {{ post.created_at }}
                {% if post.created_at != post.updated_at %}
                    (edited: {{ post.updated_at }})
                {% endif %}
            </span>
        </div>
    </main>
{% endblock %}